<div class="slide-wrapper">

    <div id="slide" class="slide">
        {% for spot in slide_spots %}
            {% if spot.spot_photos.first %}

            <a href="{% url 'spotapp:spot_detail' spot.spot_id %}" class="slide-item">
                <img src="{{ spot.spot_photos.first.image.url }}"
                     alt="{{ spot.spot_name }}">
                <p>{{ spot.spot_name }}</p>
            </a>

            {% endif %}
        {% empty %}
            <div class="slide-item">
                <p>現在表示できる観光地がありません</p>
            </div>
        {% endfor %}
    </div>

    <span id="prev" class="prev"></span>
    <span id="next" class="next"></span>

    <ul class="indicator" id="indicator">
        {% for spot in slide_spots %}
            {% if spot.spot_photos.first %}
                <li class="list"></li>
            {% endif %}
        {% endfor %}
    </ul>

</div>
