{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

{% block body %}

<div class="home-btn">
    <a href="{% url 'spotapp:index' %}">ホーム</a>
</div>

<!-- ログインフォーム -->
<div class="signup-form">

    <h2 class="signup-title">ログイン</h2>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">ログイン</button>
    </form>

    <div class="signup-login">
        <a href="{% url 'spotapp:signup' %}" class="signup-link">新規登録はこちら →</a>
    </div>

    <!-- エラーのメッセージを表示 -->
    {% if messages %}
        <ul style="color:red; list-style:none; padding:0;">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

{% endblock %}
