{% extends "base/base.html" %}
{% load static %}

{% block title %}プロフィール変更完了{% endblock %}

{% block extra_css %}
<link href="{% static 'css/profile_edit_complete.css' %}" rel="stylesheet">
{% endblock %}

{% block searchbar %}{% endblock %}  {# 検索いらないなら消す #}

{% block body %}
<div class="page profile-edit-done-page">
  <main class="page-main">
    <h2 class="page-title">プロフィール情報が変更されました</h2>
    <a class="btn-primary-outline" href="{% url 'spotapp:index' %}">トップへ戻る</a>
  </main>
</div>
{% endblock %}
