<head>
{% load static %}
<link href="{% static 'css/review_create.css' %}" rel="stylesheet">
</head>

{% block body %}
<div class="review-container">

    <form method="POST" action="">
        {% csrf_token %}
        <div class="rating-wrapper">
            <h1 class="rating-label bad">悪い</h1>

            <div class="star-rating">
                <input type="radio" id="star5" name="rating" value="5">
                <label for="star5">★</label>

                <input type="radio" id="star4" name="rating" value="4">
                <label for="star4">★</label>

                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3">★</label>

                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2">★</label>

                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1">★</label>
            </div>

            <h1 class="rating-label good">良い</h1>
        </div>

        <textarea name="comment" placeholder="感想やレビューを書く" required></textarea>
        <button type="submit">投稿</button>

        <button type="button" onclick="history.back()">
            ← 戻る
        </button>
    </form>
</div>
{% endblock %}
