{% load static %}
<link href="{% static 'css/review_detail.css' %}" rel="stylesheet">

<div class="page">
    {% block body %}
    <div class="review-list">
        <h1 class="spot-name">{{ spot.spot_name }}</h1>

        {% for review in spot.review_set.all %}
            <div class="review">
                <strong>★{{ review.rating }}</strong><br>
                {{ review.comment }}<br>
                <small>{{ review.posted_at|date:"Y/m/d" }}</small>
    

                {% if user.is_authenticated and review.user == user %}
                    <form method="post" action="{% url 'spotapp:review_delete' review.review_id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">削除</button>
                    </form>
                {% endif %}
            </div>

        {% empty %}
            <p>まだレビューはありません</p>
        {% endfor %}

        <button type="button" onclick="history.back()">
            ← 戻る
        </button>
    </div>
    {% endblock %}
</div>
