{% extends "base/base.html" %}
{% load static %}

{% block title %}投稿完了{% endblock %}

{% block extra_css %}
<link href="{% static 'css/review_complete.css' %}" rel="stylesheet">
{% endblock %}

{% block searchbar %}{% endblock %}

{% block body %}
<div class="page review-done-page">
  <main class="page-main">
    <section class="done-card">
        <div class="done-icon">
            {% if request.user.is_authenticated and request.user.profile.icon %}
                <img src="{{ request.user.profile.icon.url }}" alt="icon">
            {% else %}
                <img src="{% static 'img/default_icon.png' %}" alt="icon">
            {% endif %}
        </div>

      <h2 class="done-title">投稿が完了しました。</h2>
      <p class="done-sub">スポット詳細へ戻れます</p>
    </section>

    <div class="done-actions">
      <a class="done-btn" href="{% url 'spotapp:spot_detail' spot.spot_id %}">戻る</a>
    </div>
  </main>
</div>
{% endblock %}