<head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
</head>

{% block body %}
<div class="home-btn">
    <a href="{% url 'spotapp:index' %}">ホーム</a>    
</div>

<div class="user-info">
    <div class="user-icon">
        {% if request.user.profile.icon %}
            <img src="{{ request.user.profile.icon.url }}" alt="icon">
        {% else %}
            <img src="{% static 'img/default_icon.png' %}" alt="icon">
        {% endif %}
    </div>
    <div class="user-name-text">
        {{ request.user.username }} さん
    </div>
</div>

<div class='singnup-form'>

    <h2 class='singnup-title'>ユーザー新規登録</h2>

   <form method="post" action="{% url 'spotapp:signup' %}">
        {% csrf_token %}

        <div class='form-group'>
            <input type="text" name="username" placeholder="ユーザー名を入力してください" required>
        </div>

        <div class='form-group'>
            <input type="email" name="email" placeholder="メールアドレスを入力してください" required>
        </div>

        <div class='form-group'>
            <input type="password" name="password" placeholder="パスワードを入力してください" required>
        </div>

        <button type="submit">登録</button>
    </form>

    <div class='singnup-login'>
        <a href = "{% url 'spotapp:index' %}" class="back-link">← 戻る</a>
        <a href="{% url 'spotapp:login' %}">ログインはこちら →</a>
    </div>

</div>
{% endblock %}
