{%extends "base/base.html" %} 
{% block title %} 観光地検索 {% endblock %}

{% block body%}

<!-- 検索結果一覧 -->
<div class="spot-list">
    {% for spot in spots %}
    <div class="spot-card">

        <h3 class="spot-name">{{ spot.spot_name }}</h3>

        <!-- 左：写真 -->
        <div class="spot-image">
            写真
        </div>

        <!-- 右：情報 -->
        <div class="spot-info">
            <div class="spot-hours">営業時間
                {{ spot.business_hours}}                
            </div>
        
            <div class="spot-rating">{{ review.rating}}
    
            </div>

            <div class="spot-actions">
                <button>お気に入り登録</button>
                <button>評価する</button>
            </div>
        </div>

    </div>
    {% empty %}
        <p>検索結果がありません</p>
    {% endfor %}

</div>

{% endblock %}
