{% extends "base2/base2.html" %}
{% load static %}
{% block title %} お知らせ送信フォーム {% endblock %}
{% block body %}
<style>

.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* お知らせ送信フォーム全体 */
.osirase {
    height: 100%;
    margin: 0px auto;
    background: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    font-family: "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* 入力欄 */
.osirase input[type="text"]{
    width:  100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-top: 10px;
}
.osirase textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-top: 10px;
}


/* フォーカス時の青い強調 */
.osirase input[type="text"]:focus,
.osirase textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 4px rgba(74,144,226,0.4);
    outline: none;
}

/* 送信ボタン */
.osirase button[type="submit"] {
    width: 100%;
    padding: 12px 0;
    background: #667eea;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
}

/* ホバー時 */
.osirase button[type="submit"]:hover {
    background: #a7b6f9;;
}
</style>
<div class="form-container">
    <form class="osirase" action="{% url 'spotapp_admin:osirase_send' %}" method="POST">
        {% csrf_token %}   <!-- POSTを使う際使用  -->
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>
</div>
{% endblock %}

<script>
    // 文字制限を書けるためのscript
      
</script>