{% extends "base/base.html" %}
{% load static %}

{% block title %}パスワード変更完了{% endblock %}

{% block extra_css %}
<link href="{% static 'css/password_change_complete.css' %}" rel="stylesheet">
{% endblock %}

{% block searchbar %}{% endblock %}

{% block body %}
<div class="page password-done-page">
  <main class="page-main">
    <h2 class="page-title" style="padding-bottom: 2ch;">パスワードの変更が完了しました</h2>

    <a href="{% url 'spotapp:index' %}" class="btn-home">
      トップへ戻る
    </a>
  </main>
</div>
{% endblock %}
