{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block nav %}
<nav class="profile-mini-nav">
  <a href="{% url 'spotapp:index' %}" class="btn-home">ホーム</a>
</nav>
{% endblock %}
{% block searchbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}


<!-- 中央の新規登録フォーム -->
<div class="signup-form">

    <h2 class="signup-title">ユーザー新規登録</h2>

    <form method="post">
        {% csrf_token %}

        <!-- Django form の内容（username / email / password） -->
        {{ form.as_p }}

        <button type="submit">登録</button>
    </form>

    <div class="signup-login">
        <a href="{% url 'spotapp:index' %}" class="back-link">← 戻る</a>
        <a href="{% url 'spotapp:login' %}" class="login-link">ログインはこちら →</a>
    </div>
</div>

{% endblock %}
