{% extends "base2/base2.html" %}
{% block body %}

<div class="spot_registration">
  <form class="spot_form">

    <div class="input-box">観光地名称を登録してください</div>
    <div class="input-box">住所を登録してください</div>
    <div class="input-box">営業時間を登録してください</div>

    <div class="textarea-box">詳細情報を登録してください</div>

    <p class="upload-text">写真をアップロードしてください</p>

    <label class="file-btn">
      ファイルを選択
      <input type="file" hidden>
    </label>

    <button class="submit-btn">登録</button>

  </form>
</div>


{% endblock %}