{% extends "base2/base2.html" %}
{% block body %}

{% if page.photos.all %}
<div class="form-box">

    {{ form.spot_name }}
    {{ form.address }}
    {{ form.business_hours }}
    {{ form.explanation }}

    <button type="button" class="category-toggle" onclick="toggleCategory()">
        カテゴリーを選択してください
        <span id="arrow">▼</span>
    </button>

    <div id="category-list" class="category-list">
        {% for radio in form.category %}
            <label class="category-item">
                {{ radio.tag }}
                <span>{{ radio.choice_label }}</span>
            </label>
        {% endfor %}
    </div>

    <button type="submit">更新</button>
</div>



{% endblock %}