{% extends "base2/base2.html" %}
{% block body %}
<h2>観光地更新</h2>

{% if page.photos.all %}
   <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-box">

        {{ form.spot_name }}
        {{ form.address }}
        {{ form.business_hours }}
        {{ form.explanation }}

        {% if form.errors %}
            <div class="form-error">
                {{ form.errors }}
            </div>
        {% endif %}

        <button type="submit">更新</button>

    </div>
</form>
{% endif %}

{% endblock %}