{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>{%  block title %}メニューHTML{% endblock %}</title>
    <!--共通css-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!--テンプレごとのcss-->
    {% block extra_css %} {% endblock %}
</head>
<body>

        <!-- ナビ -->
    <nav>
        <a href="{% url 'spotapp:index' %}">ホームボタン</a>

        <!-- 地区別（プルダウン） -->
        <div class="Nav-block" id="areaMenu_btn">
            <button class="Menu_btn">地区別 ▼</button>
        </div>
        <ul class="menu_down" id="areaMenu_down">
            <li><a href="#">北地区</a></li>
            <li><a href="#">南地区</a></li>
            <li><a href="#">東地区</a></li>
            <li><a href="#">西地区</a></li>
        </ul>

        <!-- カテゴリ（プルダウン） -->
                <div class="Nav-block" id="categoryMenu_btn">
            <button class="Menu_btn">カテゴリ ▼</button>
        </div>

        <ul class="menu_down" id="categoryMenu_down">
            <li><a href="#">観光</a></li>
            <li><a href="#">グルメ</a></li>
            <li><a href="#">レジャー</a></li>
            <li><a href="#">ショッピング</a></li>
        </ul>

        {% if user.is_authenticated %}
        <a href="favorite/list">お気に入り一覧</a>
        {% endif %}


            <a href="#">お知らせ通知</a>
        {% if user.is_authenticated %}

            <div class="user-info" onclick="toggleMenu('userMenu'); return false;" style="cursor:pointer;">
                <div class="user-icon">
                    {% if request.user.profile.icon %}
                        <img src="{{ request.user.profile.icon.url }}" alt="icon">
                    {% else %}
                        <img src="{% static 'img/default_icon.png' %}" alt="icon">
                    {% endif %}
                </div>
                <div class="user-name-text">
                    {{ request.user.username }} さん
                </div>
            </div>

            <div id="userMenu" style="display:none;">
                <ul>
                    <li><a href="{% url 'spotapp:profile_edit' %}">プロフィール編集</a></li>
                    <li><a href="{% url 'spotapp:logout' %}">ログアウト</a></li>
                </ul>
            </div>
        {% else %}
            <a href="{% url "spotapp:signup" %}">新規登録 / ログイン</a>
        {% endif %}
        </nav>

        

        <!-- 検索バー -->
        <div>
            <input type="text" placeholder="検索バー（あいまい検索可能）" id="search">
        </div>

        
        {% block body %}

        {% endblock %}
    
        <!-- フッター -->
        <footer class="footer">
            <span>E班</span>
            <a href="{% url 'spotapp:contact' %}">お問い合わせ</a>
        </footer>

        <script>
            function toggleMenu(id) {
            const menu = document.getElementById(id);
                menu.style.display = (menu.style.display === "none") ? "block" : "none";
            }
        </script>

</body>
</html>