.update-delete-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding: 50px;
}

.spot-update-delete, .event-update-delete {
    padding: 10px 15px;
    background-color: #ccc;
    border-radius: 8px;
    transition: all .5s ease;
}

.spot-update-delete:hover, .event-update-delete:hover {
    background-color: #bbb;
}

.spot-update-delete a, .event-update-delete a{
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}

.spot-update-delete a:hover, .event-update-delete a:hover {
    color: white;
}