* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f8f9fa;
    border-bottom: 1px solid #e1e5e9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
}

nav .right-nav {
   display: flex;
}

nav .news {
    border: none;
    border-radius: 8px;
    padding: 15px;
    background-color: #667eea;
    color: white;
    cursor: pointer;
}

nav button {
    margin: 10px 0 0 30px;
}