.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.logout-form h2 {
    margin-left: 150px;
}

.logout-form {
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    border: 1px, solid #ddd;
    padding: 20px 30px;
}

.logout-form button {
    border: none;
    background-color: #0077cc;
    color: #fff;
    border-radius: 8px;
    padding: 8px 12px;
    width: 100%;
    transition: all 0.5s ease;
}

.logout-form button:hover {
    background-color: #0055cc;
    color: white;   
}
