.registration-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    padding: 50px;
}

.spot-insert, .event-insert {
    padding: 10px 15px;
    background-color: #ccc;
    border-radius: 8px;
    transition: all .5s ease;
}

.spot-insert:hover, .event-insert:hover {
    background-color: #bbb;
}

.spot-insert a, .event-insert a{
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}

.spot-insert a:hover, .event-insert a:hover {
    color: white;
}