.event-card {
    width: 80%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.event-card p {
    margin: 5px 0;
    font-size: 14px;
}

.detail-link {
    display: inline-block;
    margin-top: 10px;
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
}
.detail-link:hover {
    text-decoration: underline;
}
