/* 全体 */
.spot-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 30px 0;
}

/* カード */
.spot-card {
    width: 60%;
    border: 2px solid #333;
    border-radius: 30px;
    padding: 25px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}
/* 左*/
.spot-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}
/* 観光地名 */
.spot-name {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
/* 写真 */
.spot-image {
    width: 200px;
    height: 180px;
    border: 2px solid #333;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
}

/* 右 */
.spot-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}


/* 営業時間 */
.spot-hours {
    font-size: 30px;
    margin-left: 80px; 
    margin-bottom: 20px;
}
/* ★ */
.spot-rating {
    font-size: 30px;
    margin-left: 80px; 
    letter-spacing: 3px;
    margin-bottom: 20px;
}
/* 右下 */
.spot-actions {
    display: flex;
    gap: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}
