{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>メニューHTML</title>
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/logout.css' %}" rel="stylesheet">
    <link href="{% static 'css/event_delete.css' %}" rel="stylesheet">
    <link href="{% static 'css/index2.css' %}" rel="stylesheet">
    <link href="{% static 'css/base2.css' %}" rel="stylesheet">
    <link href="{% static 'css/search-result.css' %}" rel="stylesheet">
</head>

<body>

    <nav>
        <!-- 左側 -->
        <div class="left-nav">
            <div class="home-btn">
                <a href="{% url 'spotapp_admin:index' %}">ホーム</a>
            </div>
        </div>

        <!-- 右側 -->
        <div class="right-nav">
            <!-- 地域別（プルダウン） -->
            <div class="Nav-block" id="areaMenu_btn">
                <button class="Menu_btn">地区別 ▼</button>
                <ul class="menu_down" id="areaMenu_down">
                    <li><a href="#">県北地区</a></li>
                    <li><a href="#">県南地区</a></li>
                    <li><a href="#">県東地区</a></li>
                    <li><a href="#">県西地区</a></li>
                </ul>
            </div>

            <!-- カテゴリ（プルダウン） -->
            <div class="Nav-block" id="categoryMenu_btn">
                <button class="Menu_btn">カテゴリ ▼</button>
                <ul class="menu_down" id="categoryMenu_down">
                    <li><a href="#">観光</a></li>
                    <li><a href="#">グルメ</a></li>
                    <li><a href="#">レジャー</a></li>
                    <li><a href="#">ショッピング</a></li>
                </ul>
            </div>

            <!-- ここにお知らせ表示を置きたい -->
            <div class="Nav-block" id="categoryMenu_btn">
                <button class="Menu_btn">お知らせ ▼</button>
                <ul class="menu_down">
                    {% for o in osirase_list %}
                        <li>
                            <strong>{{ o.title }}</strong>
                            <!-- <time style="color:#666;">{{ o.created_at|date:"Y年n月j日 H:i" }}</time> -->
                            <div>{{ o.body|linebreaksbr }}</div>
                        </li>
                    {% empty %}
                        <p>表示できるお知らせがありません。</p>
                    {% endfor %}
                </ul>
            </div>

            {% if request.session.staff_id %}
            <!-- 管理者プルダウン -->
            <div class="Nav-block" id="adminMenu_btn">
                <button class="Menu_btn">管理者 ▼</button>
                <ul class="menu_down" id="adminMenu_down">
                    <li><a href="{% url 'spotapp_admin:Registselect' %}">登録</a></li>
                    <li><a href="{% url 'spotapp_admin:Updel' %}">更新・削除</a></li>
                    <li><a href="{% url 'spotapp_admin:osirase_send'%}">お知らせ送信</a></li>
                    <li><a href="{% url 'spotapp_admin:logout' %}">ログアウト</a></li>
                </ul>
            </div>
            {% else %}
                <a href="{% url 'spotapp_admin:login' %}">新規登録 / ログイン</a>
            {% endif %}
        </div>
    </nav>

    <form class="search-form" action="{% url 'spotapp_admin:search-result' %}" method="get">
        <input type="text" name="q" id="search"  value="{{ keyword|default:'' }}"placeholder="検索バー（あいまい検索可能）">
        <div class="submit">
            <button type="submit">検索</button>
        </div>
    </form>

    <div class="main">
        {% block body %}{% endblock %}
   
    </div>

    <footer class="footer">
        <span>E班</span>
    </footer>

    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/base2.js' %}"></script>

</body>
</html>
