{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>メニューHTML</title>
    <link href="{% static 'css/admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/logout.css' %}" rel="stylesheet">
    <link href="{% static 'css/event_delete.css' %}" rel="stylesheet">
</head>

<body>

    <nav>
        <div class="home-btn">
            <a href="{% url 'spotapp_admin:index' %}">ホーム</a>
        </div>
        <!-- 地域別（プルダウン） -->
        <div class="Nav-block" id="areaMenu_btn">
            <button class="Menu_btn">地区別 ▼</button>
        </div>
        <ul class="menu_down" id="areaMenu_down">
            <li><a href="#">北地区</a></li>
            <li><a href="#">南地区</a></li>
            <li><a href="#">東地区</a></li>
            <li><a href="#">西地区</a></li>
        </ul>

        <!-- カテゴリ（プルダウン） -->
        <div class="Nav-block" id="categoryMenu_btn">
            <button class="Menu_btn">カテゴリ ▼</button>
        </div>

        <ul class="menu_down" id="categoryMenu_down">
            <li><a href="#">観光</a></li>
            <li><a href="#">グルメ</a></li>
            <li><a href="#">レジャー</a></li>
            <li><a href="#">ショッピング</a></li>
        </ul>

        <a href="#">お知らせ通知</a>

        {% if request.session.staff_id %}
            <!-- 管理者プルダウン -->
            <div class="Nav-block" id="adminMenu_btn">
                    <button class="Menu_btn">管理者 ▼</button>
            </div>
            <ul class="menu_down" id="adminMenu_down">
                    <li><a href="{% url 'spotapp_admin:Registselect' %}">登録</a></li>
                    <li><a href="{% url 'spotapp_admin:Updel' %}">更新・削除</a></li>
                    <li><a href="{% url 'spotapp_admin:osirase_send'%}">お知らせ送信</a></li>
                    <li><a href="{% url 'spotapp_admin:logout' %}">ログアウト</a></li>
            </ul>
        {% else %}
            <a href="{% url 'spotapp_admin:login' %}">新規登録 / ログイン</a>
        {% endif %}
    </nav>

    <div style="text-align: center;">
        <input type="text"  id="search" placeholder="検索バー（あいまい検索可能）">
    </div>

    {% block body %}
    {% endblock %}

    <footer class="footer">
        <span>E班</span>
        <a href="#">お問い合わせ</a>
    </footer>

</body>
</html>
